.diversity-in-sciences {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
}
.about1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 58px;
}
.diversity-navigation-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0px 0px;
}
.services {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 83px;
}
.events {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 65px;
}
.contact {
  position: relative;
  font-size: var(--small-text-size);
  text-decoration: underline;
  line-height: 150%;
  font-weight: 500;
  font-family: var(--small-text);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 62px;
}
.button {
  cursor: pointer;
  border: none;
  padding: 14px 24px;
  background-color: var(--color-black);
  box-shadow: var(--button-shadow);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button:hover {
  background-color: #333;
}
.diversity-navigation {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.diversity-navigation-wrapper {
  width: 460px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 22px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--body-text-size);
}
.diversity-in-sciences-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--title-size);
  color: var(--color-black);
  font-family: var(--small-text);
}
.about-child {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.a-little-about {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-family: inherit;
}
.lemme-glaze-myself {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--subheading-size);
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
  color: #828282;
}
.a-little-about-me-parent {
  width: 624px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-15xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.paragraph {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.paragraph-wrapper {
  width: 624px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 169px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--body-text-size);
}
.divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.httpskhushdeep1337githubi {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
}
.buttons-icon {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
  min-height: 40px;
}
.image-2-icon {
  height: 40px;
  width: 40px;
  position: relative;
  object-fit: cover;
  min-height: 40px;
}
.social-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.httpskhushdeep1337githubi-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 88px;
}
.links-container-inner {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.my-links {
  align-self: stretch;
  position: relative;
  text-decoration: underline;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-black);
}
.linkedin {
  align-self: stretch;
  position: relative;
  text-decoration: underline;
  line-height: 150%;
  font-weight: 500;
  color: inherit;
}
.social-links-title {
  width: 211px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--small-text-size);
  color: var(--color-darkslategray-100);
}
.links-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.divider-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 46px;
  max-width: 100%;
  text-align: left;
  font-size: var(--subheading-size);
  color: var(--color-black);
  font-family: var(--small-text);
}
.about {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl) 80px 48px;
  box-sizing: border-box;
  gap: 114px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--title-size);
  color: var(--color-black);
  font-family: var(--small-text);
}

@media screen and (max-width: 1100px) {
  .diversity-navigation {
    display: none;
  }

  .diversity-navigation-wrapper {
    width: 0px;
  }
}
@media screen and (max-width: 1025px) {
  .a-little-about {
    font-size: 51px;
  }

  .links-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .httpskhushdeep1337githubi-parent {
    gap: 44px;
  }

  .divider-parent {
    gap: 23px;
  }

  .about {
    gap: 57px;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .a-little-about {
    font-size: 38px;
  }

  .lemme-glaze-myself {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }

  .paragraph {
    font-size: var(--small-text-size);
    line-height: 24px;
  }

  .paragraph-wrapper {
    padding-bottom: 110px;
    box-sizing: border-box;
  }

  .httpskhushdeep1337githubi {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }

  .httpskhushdeep1337githubi-parent {
    gap: 22px;
  }

  .about {
    gap: 28px;
  }
}
